.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.components{
    display: flex;
    justify-content: center;
}

button {
    background-color: brown;
    border: none;
}